.Navbar{
    display: flex;
    padding: 30px 400px;
    justify-content: space-between;
    background-color: #1a3c50;
    color: #0c88e7;
}
.Navbar .item{
    cursor: pointer;
    transition: 0.7s ease;
    padding:5px 10px;
    font-weight: 700;
    height: fit-content;
    color: #0c88e7;
}
.Navbar .item:hover{
    color: orange;
}
